<div class="list-block">
<mat-card *ngIf='Foods'>
  <mat-card-header>Available Foods</mat-card-header>
  <mat-list dense *ngFor='let food of Foods | async' role="list">
    <mat-list-item role="listitem">
      <button mat-button color='primary' (click)='delete(food); $event.stopPropagation()'>
        <i class='material-icons -18'>delete</i>
      </button>
      <span> {{food.name}}</span>
    </mat-list-item>
  </mat-list>
  <form>
    <mat-form-field class="example-full-width">
      <input #box matInput placeholder="Food Name" [(ngModel)]='NewName' name='NewName'  (keyup.enter)='addFood()'/>
    </mat-form-field>
    <button mat-raised-button color=’primary’ (click)='addFood()'>
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">check</mat-icon>
    </button>
  </form>

</mat-card>
</div>
