<mat-card *ngIf='Locations'>
  <mat-card-header>Available Locations</mat-card-header>
  <mat-list dense *ngFor='let location of Locations | async'>
    <mat-list-item>
      <button mat-button color='primary' (click)='delete(location); $event.stopPropagation()'>
          <i class='material-icons md-18'>delete</i>
    </button>
     <span> {{location.name}}</span>
    </mat-list-item>
  </mat-list>
  <mat-input-container>
    <input #box mdInput  placeholder='Location Name'
           [(ngModel)]='NewName'
           (keyup.enter)='addLocation()'/>
  </mat-input-container>
  <button mat-raised-button color=’primary’ (click)='addLocation()'><mat-icon>check</mat-icon></button>
</mat-card>
