<div class="list-block">
<mat-card *ngIf='Units'>
  <mat-card-header>Available Units</mat-card-header>
  <mat-list dense *ngFor='let unit of Units | async'>
    <mat-list-item>
      <button mat-button color='primary' (click)='delete(unit); $event.stopPropagation()'>
        <i class='material-icons -18'>delete</i>
      </button>
     <span> {{unit.name}}</span>
    </mat-list-item>
  </mat-list>
  <form>
    <mat-form-field class="example-full-width">
      <input #box matInput placeholder="Unit Name" [(ngModel)]='NewName' name='NewName'  (keyup.enter)='addUnit()'/>
    </mat-form-field>
    <button mat-raised-button color=’primary’ (click)='addUnit()'>
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">check</mat-icon>
    </button>
  </form>
</mat-card>
</div>
