<md-card *ngIf='Units'>
  <md-card-header>Available Units</md-card-header>
  <md-list dense *ngFor='let unit of Units | async'>
    <md-list-item>
      <button md-button color='primary' (click)='delete(unit)'>
          <i class='material-icons md-18'>delete</i>
    </button>
     <span> {{unit.name}}</span>
    </md-list-item>
  </md-list>
  <md-input-container>
    <input #box mdInput  placeholder='Unit Name'
           [(ngModel)]='NewName'
           (keyup.enter)='addUnit()'/>
  </md-input-container>
  <button md-raised-button color=’primary’ ><md-icon>check</md-icon></button>
</md-card>
